.login-container {
    max-width: 400px;
    margin: 80px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
  }
  .login-container input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
  }
  .login-container button {
    padding: 10px 20px;
  }
  
  #downloadChart, #downloadMap {
  z-index: 50;
  position: relative;
  }

  canvas {
  max-width: 100% !important;
  height: auto !important;
  }

